extends layout

block layout-content
  div.View
    h1.Banner TIMELESS MASTERS
      span.edition 1st Edition 
    .demoWrapper
      .stage
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')
        .box
          .inner
            img#image(src='/media/einstein.png')       
    button.btn
      a(href='#', target='__blank')
        span(color='hsl(339deg 89% 49% / 100%)')
          add GET YOURS NOW!
  script(src='js/slider.js')
  

  
    