 @import url("https://fonts.googleapis.com/css?family=Dancing+Script"); 

@font-face {
  font-family: 'Champagne';
  src:url('OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne';
  src:url('/fonts/Champagne & Limousines Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Champagne';
  src:url('/fonts/Champagne & Limousines Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'Champagne';
  src:url('/fonts/Champagne & Limousines Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;

}

* {
  box-sizing: border-box;
}

html{
  --borderWidth: 0px;
  background: #200220;
  /* position: relative; */
  /* border-radius: var(--borderWidth); */
  overflow:hidden;
}
html:after{
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(90deg,  #202020, #200220, #1D1F20, #2B241C);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
  overflow:hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Champagne", sans-serif; 
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100vh;
  width: 100vw;

  background-size: cover;

  font-family: "Champagne", sans-serif;
  letter-spacing: 4px;
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.2rem, -5.8rem + 3.333vw, 3.5rem);
  letter-spacing: 2vw;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  margin-top:5vh;
  position: absolute;
  text-align:center;
  font-family: "Champagne", monospace;
  /* background: -webkit-linear-gradient(40deg, #F5D985, #836C4C, #2C251D); */
  background-size: 600vw 600vw;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 8s linear infinite alternate;
}

@supports (-webkit-text-stroke: 1px #F5D985) {
  .Banner {
    -webkit-text-stroke: 1px #F5D985;
  }
}

.edition {
  text-align: center;
  padding: 5px 0;
  letter-spacing: 0.8vw;
  font-family: 'Dancing Script';
  font-size: calc(.2em + .4vw);
  animation: textAnimate 8s linear infinite alternate;
}



  /*DEMO */
  
  .demoWrapper {
    width: 100%;
    height: 40vh;
    -webkit-font-smoothing: antialiased;
    margin: 25vh auto;
  }
  
  .stage {
    position: relative;
    perspective: 3000px;
    transform-style: preserve-3d;
    height: 50vh;
    margin: 15px;
  }
  
  .box {
    position: absolute;
    display: inline-block;
    perspective: 0;
    transform-style: preserve-3d;
    width: 30vh;
    height: 53.3vh;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto; 
    --boxWidth: 2px;
    border-radius: var(--boxWidth);
  }
  
  .box img {
    width: 100%;
    height: auto;
    outline: 0 solid transparent;
  }


.box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--boxWidth));
  left: calc(-1 * var(--boxWidth));
  height: calc(100% + var(--boxWidth) * 2);
  width: calc(100% + var(--boxWidth) * 2);
  background: linear-gradient(60deg,  yellow,red, orange, yellow);
  opacity:0.5;
  border-radius: calc(2 * var(--boxWidth));
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
}



  /* button */
  .btn {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: "Champagne", monospace;
    letter-spacing: 3px;
    -webkit-box-align: center;
    align-items: center;
    background: radial-gradient(circle at center top, rgb(45, 32, 36), rgb(31, 20, 24));
    border: 0px;
    border-radius: 28px;
    box-shadow: rgb(15, 10, 12) -4px 4px 8px 0px, rgba(255, 255, 255, 0.075) 4px -4px 8px 0px;
    box-sizing: border-box;
    color: rgb(236, 14, 92);
    cursor: pointer;
    display: flex;
    font-size: clamp(1.2rem, -2.8rem + 3.333vw, 3.5rem);
    font-weight: 700;
    height: 72px;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 36px;
    outline: none;
    padding-left: 32px;
    padding-right: 32px;
    white-space: nowrap;
    margin-bottom:50px;
  }

  .btn:hover {
    --gridline-drop-shadow: drop-shadow( 0px 1px 0px rgba(240, 240, 240, 0.13));
    transition: ease-in-out;
  }


  /* KEYFRAMES */
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes textAnimate {
    from {
      filter: hue-rotate(0deg);
      background-position-x: 0%;
      
    }
    to {
      filter: hue-rotate(360deg);
      background-position-x: 600vw;
      
    }
  }



  @media only screen and (max-width: 900px) {
    .demoWrapper {
      margin-bottom:15vh;
    }
    .stage {
      height: 30vh;
    }
    .box {
      width: 20vh;
      height: 35.5vh;
    }
    .btn {
      margin-bottom:15vh;
    }
  }